.avatar {
    padding: 10px;
    margin:  0 40px;
    position: fixed;
    vertical-align: baseline;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    max-width: 400px;
    max-height: 80vh;
    box-sizing: border-box;

    &-image {
      width: 400px;
      height: 80vh;
      object-fit: cover;
    }
  }