@use '../vars';

html::-webkit-scrollbar {
    width: 0.8em;
    background-color: vars.$background-input;
    border-radius: 1em;
    &-thumb {
        background-color: vars.$background-color;
        border-radius: 1em;
        border: 0.3em solid vars.$background-input;
    }
}

body {
    max-height: 100%;
    font-family: vars.$font-family;
    color: vars.$font-color;
    font-size: 19px;
    line-height: 22px;
    font-weight: 400;
    text-align: center;
    background-color: vars.$background-color;

    h1 {
        font-size: 1.8rem;
        margin: 0.5em 0 0.8em;
    }

    input, textarea {
        font-family: inherit;
        font-size: inherit !important;
        line-height: inherit;
        font-weight: inherit;
        background: vars.$background-input;
        border-radius: 10px;
        color: vars.$font-color;
        border: none;
    }

    ::placeholder {
        text-align: center;
        color: vars.$font-color;
    }

    .next-page {
        position: relative;
        left: 16vw;
        z-index: 100;

        @media (min-width: 900px) {
            display: none;
        }
    }

    ::-webkit-scrollbar {
        width: 0.6em;
        &-thumb {
            background-color: vars.$background-color;
            border: 0.17em solid vars.$background-input;
        }
    }
}