@use '../vars';

.race {
  margin-bottom: 1rem;
  overflow: hidden;

  &.expanded {
    height: auto;
  }



  .race-content {
    padding: 1rem;
    background-color: #eee;
    font-size: 0.9em;
    height: 40vh;

    .race-bonuses {
      display: flex;
      margin-top: 1rem;

      .race-bonus {
        padding: 0.5rem 1rem;
        margin-right: 1rem;
        font-size: 0.9em;
        border-radius: 4px;
        border: none;
        background-color: #ccc;
        color: #333;
        flex-grow: 45%;

        &.selected {
          background-color: #333;
          color: #fff;
        }
      }
    }
  }
}

    .race-title {
      font-family: vars.$font-family;
      color: #fff;
      font-size: 1.5em;
      font-weight: bold;
    }

    .race-content {
      font-family: vars.$font-family !important;
      color: #fff;
      font-size: 1.1em !important;
    }

    @media screen and (min-width: 900px) {
    .race-picture {
      max-width: 20vw;
      width: 20vw;
      height: auto;
      object-fit: cover;
    }

    .race-header {
      width: 20vw;
      max-width: 20vw;
      height: auto;
    }
    .race.expanded {
      height: unset;
    }

    .race-header.expanded {
      height: auto;
    }
  }