@use '../vars';

.body {
    max-width: 1700px;
    font-family: vars.$font-family;
}

.stats-header {
    margin-top: 1em;
    padding: 0.3em;
    max-height: 15vh;

    &-mod {
        display: flex;
        justify-content: space-around;
        margin-right: 0.5em;

        .stat-info {
            position: relative;
            display: inline-flex;
            justify-content: center;
            width: 2em;
            margin: 0.5em;
            padding: 0.2em 1em 0.2em 0.5em;
            background-color: vars.$background-input;
            border: 1px solid vars.$border-color;
            font-size: 0.65em;

            .stat-mod {
                height: fit-content;
                width: auto;
                padding: 0.2em 0.7em;
                border: 1px solid vars.$border-color;
                border-radius: 100%;
                position: absolute;
                right: -40%;
                top: -65%;
                z-index: 100;
                background-color: vars.$background-input;
            }
        }
    }

    &-other {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 0.2em;

        .atk, .def {
            display: flex;
        }

        .stat-type {
            margin-right: 0.5em;
            min-width: 13vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            padding-bottom: 1em;

            @media (min-width: 900px) {
                min-width: 8vw;
            }

            &-value {
                position: absolute;
                bottom: 20%;
                left: 60%;
                padding: 0 0.5em;
                background-color: vars.$background-input;
                border: 1px solid vars.$border-color;
                font-size: 0.75em;
            }
        }
    }

    .way-points {
        display: flex;
        justify-content: space-around;
        width: 55vw;
        margin-left: 42vw;
        margin-top: 1.5vh;

        .remaining-points {
            width: 40px;
            height: 40px;
            border: 1px solid vars.$border-color;
            border-radius: 100%;
            font-size: 110%;
            background-color: vars.$background-input;
            color: vars.$font-color;

            &-text {
                margin-top: 2vh;
                margin-right: 1vw;
                font-size: 80%;
                font-style: italic;
                
            }
        }
    }
}

.way-container {
    margin-top: 2em;
    text-align: center;
    min-height: 55vh;

    .way-name {
        display: flex;
        justify-content: space-between;
        padding: 1em 1em 0;
        border: 1px solid vars.$border-color;
        border-radius: 1em;
        text-align: left;
        font-size: 1.2em;
    }

    .way-button {
        height: 1em;
        margin-top: 1.5em;
        font-size: 120%;
        border: none;
        background-color: transparent;
        color: vars.$border-color;
        &.open {
                transform: rotate(180deg) translate(0, -50%);
                z-index: 100;
        }
    }
}

.way-ability-container.selected {
    background-color: vars.$background-selected-color;
}

.way-ability {
    text-align: left;
    padding-left: 1em;
    padding-top: 1em;

    &-name {
        font-size: 1.1em;
        padding-bottom: 0.5em;
    }

    &-description {
        font-size: 0.9em;
        padding-bottom: 2em;
    }

    &-bonus {
        font-size: 1.1em;
        padding-bottom: 0.5em;
    }
}

.way-changes-container {
    margin-top: 1.5em;
    padding-left: 1em;
    text-align: left;

    .way-changes {
        display: flex;
        padding: 0.5em;

        & img {
            padding-right: 1em;
        }
    }
}

.hidden {
    display: none;
}