.class-container {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;

    .class-title {
        font-size: 1.5rem;
        font-weight: 600;
        margin: 0.5em 0;
    }

    .class-img-container {
        box-sizing: border-box;
        display: block;
        width: 100%;
        max-height: 40vh;
        margin-bottom: 2.5em;
        position: relative;

        .equipment-container {
            position: absolute;
            right: 0.5em;
            top: 2.5em;
            width: 85%;
            max-width: 20em;
            max-height: 60%;
            height: auto;
            padding: 0.5em;
            border: 1px solid #fff;
            background-color: rgba(255, 255, 255, 0.8);
            z-index: 100;
            overflow: scroll;

            .equipment-item {

                &-title {
                display: flex;
                align-items: center;
                justify-content: flex-start;

                    &-img {
                        padding-right: 0.5em;
                    }
                }

                &-description {
                    padding-left: 5em;
                    font-size: 0.8em;
                    text-align: left;
                    margin-bottom: 0.5em;
                }
            }
        }

        .class-img {
            display: block;
            margin: auto;
            max-height: 40vh;
            max-width: 100%;
            object-fit: contain;
        }

        .class-stat {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            padding: 0.3em;
            background-color: rgba(0, 0, 0, 0.6);
            color: #fff;

            &-name.recommended {
                font-weight: bold;
                font-size: 110%;
                text-shadow: 0 0 0.8em rgb(255, 254, 193);
            }
        }
    }

    .equipment-button {
        position: absolute;
        top: 0.5em;
        right: 0.5em;
        padding: 0;
        border: none;
        background-color: transparent;
    }    

    .class-description {
        height: 25vh;
        max-height: 30vh;
        overflow: scroll;
    
        &-text {
            padding: 0 1em;
            text-align: left;
        }
    }

    .class-carrousel {
        margin: auto;
         &-img {
            border-radius: 100%;
        }
        &-item {
            transform: translateY(-15%);
        }

        .swiper-wrapper {
            height: 20vh;
            max-height: 30vh;

            .swiper-slide img {
                transform: scale(0.7) translateY(50%);
            }

            @keyframes scale {
                0% {
                    transform: scale(0.7) translateY(50%);
                }
                100% {
                    transform: scale(1) translateY(30%);
                }
            }

            .swiper-slide-active img {
                animation-duration: 0.5s;
                animation-name: scale;
                transform: translateY(30%);
            }           
        }        
    }
}

    