@use '../vars';

.class-container {
    // font-family: vars.$font-family;
    // position: relative;
    
    .class-img-container {
        box-sizing: border-box;
        display: block;
        width: 100%;
        max-height: 40vh;
        margin-bottom: 1.5em;
        position: relative;

        .equipment-modal {
            position: absolute;
            right: 0.5em;
            top: 2.5em;
            width: 70vw;
            max-width: 20em;
            max-height: 60%;
            height: auto;
            padding: 0.5em;
            border-radius: 0.5em;
            background-color: vars.$background-input;
            font-size: 0.8em;
            z-index: 100;
            overflow-y: scroll;

            @media (min-width: 900px) {
                display: none;
            }
        }

        .class-img {
            display: block;
            margin: auto;
            max-height: 40vh;
            max-width: 100%;
            object-fit: contain;
            // mask-image: radial-gradient(circle, vars.$background-color 65%, rgba(255, 255, 255, 0) 85%);
            mask-image: radial-gradient(ellipse at center, vars.$background-color 45%, rgba(255, 255, 255, 0) 70%);
        }

        .class-stat {
            display: flex;
            justify-content: center;
            gap: 2em;
            align-items: center;
            color: #fff;

            &-name.recommended {
                font-weight: bold;
                transform: scale(1.1);
                text-shadow: 0 0 0.8em rgb(254, 229, 0);
            }

            @media (max-width: 400px) {
                justify-content: space-evenly;
                gap: 0;
            }
        }
    }

    .equipment-button {
        position: absolute;
        top: 0.5em;
        right: 0.5em;
        padding: 0;
        border: none;
        background-color: transparent;
        z-index: 100;

        @media (min-width: 900px) {
            display: none;
        }
    }
    
    .equipment-item {

        &-title {
        display: flex;
        align-items: center;
        justify-content: flex-start;

            &-img {
                padding-right: 0.5em;
            }
        }

        &-description {
            padding-left: 5em;
            font-size: 0.8em;
            text-align: left;
            margin-bottom: 0.5em;
        }
    }

    .class-description {
        display: flex;
        justify-content: center;
        gap: 1em;
        height: 18vh;
        max-height: 30vh;
        overflow: auto;
    
        &-text {
            padding: 0 1em;
            text-align: left;

            @media (min-width: 900px) {
                width: 60%;
                padding: 0;
            }  
        }

        &-equipment {
            display: flex;
            width: 32%;
            overflow: auto;
            padding: 0.5em;
            background-color: vars.$background-input;
            border-radius: 0.5em;

            @media (max-width: 900px) {
                display: none;
            }
        }
    }

    .class-carrousel {
        margin: auto;        
        &-img {
            border-radius: 100%;
            height: 10vh;
            width: 10vh;
            object-fit: cover;
        }
        &-title {
            transform: translateY(110%);
        }

        .swiper-wrapper {
            height: 20vh;
            max-height: 30vh;

            .swiper-slide img {
                transform: scale(0.7) translateY(50%);
            }

            @keyframes scale {
                0% {
                    transform: scale(0.7) translateY(50%);
                }
                100% {
                    transform: scale(1) translateY(30%);
                }
            }

            .swiper-slide-active img {
                animation-duration: 0.5s;
                animation-name: scale;
                transform: translateY(30%);
            }           
        }        
    }
}

    