@use '../vars';

.body {
  @media (min-width: 900px) {
      display: none;
  }
}

.main {
  margin-left: 600px;
}

.generator {
  display: flex;
  align-items: center;
  justify-content: center;
}

.generator-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
}

.generator-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  margin: 10px;
  font-size: 16px;
  white-space: normal;
  .hover {
    background-color: green;
    color: white;
  }
}

.explanation-text {
  margin-top: 10px;
  text-align: center;
}

.selected {
  background-color: green;
  color: white;
}

.button-link {
  text-decoration: none;
}