@use '../vars';

body {

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

.general-page {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    height: 100vh;
    align-items: center;
    
    .general-gender-image {
      padding: 10px;
      margin: 10px;

        .selected-image {
            max-width: 100%;
            max-height: 100%;
            object-fit: cover;
        }
    }
   
    
    .general-form {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      align-items: center;
      grid-gap: 27px;
      
      .general-inputs {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        grid-gap: 10px;
        
        input {
          width: 100%;
          margin: 4px 0;
          padding: 10px;
          font-size: 18px;
          height: 60px;
          box-sizing: border-box;
          text-align: center;
        }
        
        #lastName {
          grid-row: 1 / 2;
          grid-column: 1 / 2;
        }
        
        #firstName {
          grid-row: 2 / 3;
          grid-column: 1 / 2;
        }
        
        #age {
          grid-row: 1 / 2;
          grid-column: 2 / 3;
        }
        
        #weight {
          grid-row: 2 / 3;
          grid-column: 2 / 3;
        }
        
        #height {
          grid-row: 2 / 3;
          grid-column: 3 / 4;
        }
        
        #eyeColor {
          grid-row: 1 / 2;
          grid-column: 3 / 4;
        }
        
        #hairColor {
          grid-row: 2 / 3;
          grid-column: 3 / 4;
        }
      }
      .measures {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 10px;
        font-size: 20px;
      }
      
      .backstory-box {
        width: 100%;
      }
      
      .backstory-box h1 {
        font-size: 30px;
        background-color: #000000;
        padding: 30px 0 15px 30px;
        text-align: start;
        border-radius: 10px 10px 0 0;
      }
      
      .backstory-box-input {
        width: 100%;
        height: 150px;
        padding: 0 30px;
        font-size: 18px;
        box-sizing: border-box;
        border-radius: 0 0 10px 10px;
        border: none;
        text-align: start;
        resize: none;
        vertical-align: top;
        // text-align-last: center;
      }
    }

    
    .religion-box {
      padding: 10px;
      margin: 10px;
    }
  }