@use '../vars';

.user-info {
  display: flex;
  justify-content: flex-end;
    margin-right: 10px;
  }

.burger {
  width: 30px;
  height: 30px;
  margin: 0 5px;
  padding: 0;
  border: solid 1px red;
  cursor: pointer;

.bar {
  display: block;
  width: 100%;
  height: 2px;
  background-color: black;
  margin-bottom: 5px;
  position: relative;
  transition: transform 0.3s;
  z-index: 100;
  

  &::before,
  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    left: 0;
    transition: transform 0.3s;
  }

  &::before {
    transform: translateY(-8px);
  }

  &::after {
    transform: translateY(8px);
  }
}

&.open {
  .bar {
    transform: rotate(45deg);

    &::before {
      transform: rotate(90deg) translateY(0);
    }

    &::after {
      transform: rotate(-90deg) translateY(0);
    }
  }
}
}

.burger-menu {
  display: none;
  z-index: 100;
  position: absolute;
  top: 33px;
  right: 5px;
  text-align: center;
  padding: 7px 15px;
  border: solid 1px black;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.6);

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin: 0.5rem 0;
      font-size: 1.2rem;
      &:hover {
        background-color: yellow;
      }

      a {
        color: black;
        text-decoration: none;
      }
    }
  }

  &.open {
    display: block;
  }

  li {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;

    &.link {
      color: black;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .auth-buttons {
    text-align: center;
  }
}

.navbar-container {
  display: flex;
  justify-content: space-between;

  .logo {
    margin: 0.2em 0 0 0.2em;
  }
}

.signin-form {
  width: 40%;
  margin-right: 1em;
  input {
    width: 100%;
  }
}

.signup-form {
  margin-left: 0.5em;
}