@use '../vars';

.login-form {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.login-form input, .login-form button {
  display: block;
  margin-bottom: 10px;
}